<!DOCTYPE html>
<html lang="en">

<head>
    <title>reset email sent - metasophiea</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    {% load static from staticfiles  %}
    <link rel="stylesheet" href="{% static "auth/css/main.css" %}">

</head>

<body>

    <section class='card'>

        <h1>Password Reset</h1>
        <p>An e-mail with a link has been sent to the address you provided. Please follow the link to a page where you can enter a new password</p>

        {% if user.is_authenticated %}
            <p><strong>Note:</strong> You are already logged in</p>
        {% endif %}

    </section> 

    {% include 'messageview.html' %}

</body>
</html>