<!DOCTYPE html>
<html lang="en">

<head>
    <title>enter new password - metasophiea</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    {% load static from staticfiles  %}
    <link rel="stylesheet" href="{% static "auth/css/main.css" %}">
    
</head>

<body>

    <section class='card'>
    {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <h1>Bad Token</h1>
            <p>The password reset link is invalid, possibly because it has already been used</p>
            <p>Click <a href="{{ passwd_reset_url }}">here</a> to request a fresh one</p>
        {% else %}
        <h1>Change Password</h1>
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                <div><input type="password" name="password1" required placeholder="new password" id="id_password1" /></div>
                <div><input type="password" name="password2" required placeholder="new password (again)" id="id_password2" /></div>
                <input type="submit" name="action" value="change password"/>
            </form>
        {% endif %}

    </section>

    {% include 'messageview.html' %}

</body>
</html>