<!DOCTYPE html>
<html lang="en">

<head>
  <title>login - metasophiea</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  {% load i18n %}
  {% load account socialaccount %}
  {% get_providers as socialaccount_providers %}

	<script>  
    var providers = [
    {% for provider in socialaccount_providers %}
        { 
          "name": "{{provider.name}}",
          "id":"{{provider.id}}",
          "provider_login_url": "{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}",
        },
      {% endfor %}
    ];

    function go(){
      for(var a = 0; a < providers.length; a++){
        console.log(providers[a]);

        element = document.createElement('a');
        element.title = providers[a].name;
        element.class = "socialaccount_provider" + providers[a].id;
        element.href = providers[a].provider_login_url;
        element.innerHTML = providers[a].name;

        document.getElementById('providerLoginCard').appendChild( element );
      }
    }
  
  </script>

  <style>
    html{ font-family: Raleway; }
    h1{ margin: 0px 0px 5px 0px; }
    .formInputCheckBox{ margin:5px; font-size: 14px; }
    #resetPasswordLink{ font-size: 14px; }
    .card{
      text-align:center;
      width: 320px;
      margin: auto;
      padding: 10px;
      background-color: rgb(243, 242, 242);
    }
  </style>

</head>

<body onLoad="go()">

  <section id='loginCard' class='card'>
    <h1 class='mainTitle'>Login</h1>

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}

      <div>
        <input id='id_login' type='text' name='login' autofocus="autofocus" required placeholder="username"/>
      </div>

      <div>
        <input id='id_password' type='password' name='password' required placeholder="password"/>
      </div>

      <p class='formInputCheckBox'>remember me
        <input type="checkbox" name="remember" id="id_remember"/>
      </p>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <a id="resetPasswordLink" href="{% url 'account_reset_password' %}">reset password</a>
      <input class='button' type='submit' value='login'/>
    </form>

  </section> 

  <br/>

  <section id='providerLoginCard' class='card'>
      <h1 class='mainTitle'>login with</h1>
  </section>

  {% include 'messageview.html' %}

</body>
</html>