<!DOCTYPE html>
<html>
<head>
    <title>reset password - metasophiea</title>
    <meta charset="utf-8"></meta>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <style>
        html{ font-family: Raleway; }
        h1{ margin: 0px; }
        p{
            margin: 10px 0px;
            padding: 0px 20px;
        }
        .errors{ 
            color: red;
            font-size: 13px;
        }
        #resetCard{
            text-align:center;
            width: 320px;
            margin: auto;
            padding: 10px;
            background-color: rgb(243, 242, 242);
        }
    </style>    
</head>

<body>

    <section id='resetCard'>
        <h1>Password Reset</h1>
        <p>Enter your e-mail address below, and we'll send you a mail with a link to reset it</p>
        <form method="POST" action="/account/password/reset/" class="password_reset">
            {% csrf_token %}
            <input type="email" name="email" placeholder="email" id="id_email" required size="30" />
            <input type="submit" value="reset" />
        </form>
    </section>
    
    {% include 'messageview.html' %}

</body>
</html>