{% comment %}
{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="{% trans 'Reset My Password' %}" />
    </form>

    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
{% endblock %}
{% endcomment %}












<!DOCTYPE html>
<html>
<head>
    <title>reset password - metasophiea</title>
    <meta charset="utf-8"></meta>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <style>
        html{ font-family: Raleway; }
        h1{ margin: 0px; }
        p{
            margin: 10px 0px;
            padding: 0px 20px;
        }
        .errors{ 
            color: red;
            font-size: 13px;
        }
        #resetCard{
            text-align:center;
            width: 320px;
            margin: auto;
            padding: 10px;
            background-color: rgb(243, 242, 242);
        }
    </style>    
</head>

<body>

    <section id='resetCard'>
        <h1>Password Reset</h1>
        <p>Enter your e-mail address below, and we'll send you a mail with a link to reset it</p>
        <form method="POST" action="/accounts/password/reset/" class="password_reset">
            {% csrf_token %}
            <input type="email" name="email" placeholder="email" id="id_email" required size="30" />
            <input type="submit" value="reset" />
        </form>
    </section>

</body>
</html>