<!DOCTYPE html>
<html lang="en">

<head>
	<title>login - metasophiea</title>
    <meta charset="utf-8"></meta>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    
	<script></script>
	<style></style>
</head>

<body>
    <section class='card' style='text-align:center;'>
        <h1 class='mainTitle'>Login</h1>
        <form method='POST' action='/processLogin.exe' name='loginForm'>
            {% csrf_token %}
            <p class='formInputText'>username: <input id='formInput_username' type='text' name='username'/></p>
            <p class='formInputText'>password: <input id='formInput_password' type='password' name='password'/></p>
            <input class='button' type='submit' value='login'/>
        </form>
        <p id='errorMessage' class='errorMessage'></p>
    </section>



    <!-- <h2>Login</h2>
    <form method="post">
      <input type='hidden' name='csrfmiddlewaretoken' value='NQHjkeJZXgHPj3M1evZlriN011Hc6mEYI18uG5AUGkwd0DVfaiPrFDwL8uZmQfDe' />
      <p><label for="id_username">Username:</label> <input type="text" name="username" maxlength="254" required autofocus id="id_username" /></p>
  <p><label for="id_password">Password:</label> <input type="password" name="password" required id="id_password" /></p>
      <button type="submit">Login</button>
    </form> -->



</body>
</html>