<!DOCTYPE html>
<html lang="en">

<head>
	<title>metasophiea</title>
	<meta charset="utf-8"></meta>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script>
		function Go(){
			console.log('hello');
			$.getJSON( "/tweetData/", dealWithData );
		}

		function dealWithData(data){
			for(var a = 0; a < data.length; a++){
				p = document.createElement("p");
				p.innerHTML += data[a].text;
				p.innerHTML += "<br/>";
				p.innerHTML += "- " + data[a].authorName;
				document.body.appendChild(p);
			}
		}
	</script>
	<style>
		p{
			background-color: #ffbb7c;
		}
	</style>
</head>

<body onLoad="Go()">
	<h1>Hello</h1>
</body>
</html>