@import url('https://fonts.googleapis.com/css?family=Raleway');

html{ font-family: Raleway; }

.link{
    margin: 0px 0px 5px 0px;
    color: #888888;
    font-size: 20px;
    text-decoration: none;
}
.link:hover{
    color: #333333;
}

.verseText{
    color: #000000;
    font-size: 20px;
}