.link{
    margin: 0px 0px 5px 0px;
    color: #666666;
    font-size: 20px;
    text-decoration: none;
}
.link:hover{
    color: #333333;
}



#header{
    width:100%;
}
#leftSection{
    text-align: left;
    float:left;
}
#rightSection{
    text-align: right;
    float:right;
}
#screenname{
    margin: 0px 0px 5px 0px;
    color: #000000;
    font-size: 30px;
    border:0px; padding:0px; 
    font-family: Raleway;
    font-weight: bold;
    width: 100%;
}
#username{
    margin: 0px 0px 5px 0px;
    color: #666666;
    font-size: 20px;
    display: inline-block;
}

#verse{
    margin: 50px 0px 0px 0px;
    color: #000000;
    font-size: 20px;
    border:0px; padding:0px; 
    font-family: Raleway;
    width: 100%;
    resize: none;
}

#characterCounter{
    margin: 0px 0px 5px 0px;
    color: #666666;
}

#updateVersePositionButton{
    border:0px; padding:0px; 
    color: #666666;
    background-color: rgba(0,0,0,0);
    font-size: 12px;
}
#updateVersePositionButton:hover{
    color: #333333;
}