#screenname{
    margin: 0px 0px 5px 0px;
    color: #000000;
    font-size: 30px;
    border:0px; padding:0px; 
    font-family: inherit;
    font-weight: bold;
    width: 100%;
}
#username{
    margin: 0px 0px 5px 0px;
    color: #888888;
    font-size: 20px;
    display: inline-block;
}

#verse{
    margin: 50px 0px 0px 0px;
    color: #000000;
    font-size: 20px;
    border:0px; padding:0px; 
    font-family: inherit;
    width: 100%;
    resize: none;
    max-width: 650px;
}

#characterCounter{
    margin: 0px 0px 5px 0px;
    color: #888888;
}

#updateVersePositionButton{
    border:0px; padding:0px; 
    color: #888888;
    background-color: rgba(0,0,0,0);
    font-size: 12px;
}
#updateVersePositionButton:hover{
    color: #333333;
}