#mainTable{
    margin: auto;
    max-width:650px;
}

.verse{ margin: 0px; }

.verseDetails{
    vertical-align: top;
    padding: 0px 0px 0px 10px;
}

.verse_text{
    margin: inherit;
    padding: 0px 0px 10px 0px;
    color: #000000;
    font-size: 20px;
    word-wrap:break-word;
}
.verse_authorScreenname{
    margin: inherit;
    color: #666666;
    font-size: 16px;
}
.verse_authorUsername{
    margin: inherit;
    color: #b7b7b7;
    font-size: 16px;
    font-style: italic;
}
.verse_authorPosition{
    margin: inherit;
    color: #b7b7b7;
    font-size: 12px;
}