<!DOCTYPE html>
<html lang="en">

<head>
    <title>verification email sent - metasophiea</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <script>   
    </script>

    <style>
        html{ font-family: Raleway; }
        h1{ margin: 0px 0px 5px 0px; }
        .formInputCheckBox{ margin:5px; font-size: 14px; }
        #resetPasswordLink{ font-size: 14px; }
        .card{
            text-align:center;
            width: 320px;
            margin: auto;
            padding: 10px;
            background-color: rgb(243, 242, 242);
        }
    </style>

</head>

<body>

    <section class='card'>
        <h1>Verify Your E-mail Address</h1>
        <p>An e-mail has been sent to you for verification. Follow the link provided to finalize the signup process.</p>
    </section> 

    {% include 'messageview.html' %}

</body>
</html>