<!DOCTYPE html>
<html lang="en">

<head>
	<title>continuousVerse</title>
	<meta charset="utf-8">

    {% load static from staticfiles  %}
	<script src="{% static "conVerse/js/main.js" %}"></script>
	
    <link rel="stylesheet" href="{% static "conVerse/css/main.css" %}">
    <link rel="stylesheet" href="{% static "conVerse/css/verse.css" %}">

	<script>
		var radius = 4;
		var highestVerse;
		var retrievalCheckTime = 500;
		var allowRetrievalTimout = 2000;
		var lowerTreshold = 0.8;



		function go(){
			// using the number conatined in the url (if it's there at all), figure out
			// the range of verses that surround the one in this position, using the 
			// 'radius' value
			var index = parseInt(window.location.pathname.toString().replace(/\//g, ''));
			index = isNaN(index) ? 0 : index;

			var lower = index-radius;
			var higher = index+radius;
			if(lower < 0){
				higher = higher - lower;
				lower = 0;
			}

			highestVerse = higher;


			// actual retrieval of verses
			simpleGetJSON(
				"{% url 'api_verseData' %}" + lower + "/" + higher + "/",
				function(data){
					dealWithData(data, document.body);
				}
			);
		}


		// attempt to run the additionalVerseRetriever every 'retrievalCheckTime' milliseconds.
		// The function is clever, and won't allow itself to be run until 'allowRetrievalTimout' milliseconds
		// have passed since the last time it was run.
		// If enough attemps at getting more verses go with nothing returned; this process is stopped
		var dynamicVerseRetrieval_processID = setInterval( additionalVerseRetriever, retrievalCheckTime );
		var allowRetrieval = true;
		var searchForMore = true; var searchInterest_base = 10; var searchInterest = searchInterest_base;
		function additionalVerseRetriever(){
			if(allowRetrieval){
				var distanceFromBottom = 0; // the pixel distance from the bottom of the page
				var scroll = document.documentElement.scrollTop || document.body.scrollTop; // get the user's scroll position

				// if the user is some distance from the bottom of the page; attempt to get more verses
				if( ((document.getElementsByTagName("html")[0].offsetHeight-window.innerHeight-distanceFromBottom) <= scroll) ){
					// disallow an additional retrieval until an amount of time has passed
					allowRetrieval = false; setTimeout(function(){allowRetrieval = true;},allowRetrievalTimout);

					// actual retrieval of the new verses. 'highestVerse' counter is also updated.
					// no elements are added if no verses are available
					simpleGetJSON(
						"{% url 'api_verseData' %}" + (highestVerse+1) + "/" + (highestVerse+radius) + "/",
						function(data){
							if( data.length != 0 ){ 
								dealWithData(data, document.body);
								searchInterest = searchInterest_base;
							}else{
								searchInterest--;
								if(searchInterest <= 0){ clearInterval(dynamicVerseRetrieval_processID); }
							}
							highestVerse = highestVerse + radius;
						}
					);
				}
			}
		}

	</script>
</head>

<body onLoad="go()">
</body>
</html>