<!DOCTYPE html>
<html lang="en">

<head>
	<title>continuousVerse</title>
	<meta charset="utf-8">

    {% load static from staticfiles  %}
	<script src="{% static "conVerse/js/main.js" %}"></script>
	
    <link rel="stylesheet" href="{% static "conVerse/css/main.css" %}">
    <link rel="stylesheet" href="{% static "conVerse/css/verse.css" %}">

	<script>
		function go(){
			var radius = 5;
			var index = parseInt(window.location.pathname.toString().replace(/\//g, ''));
			index = isNaN(index) ? 0 : index;

			var lower = index-radius;
			var higher = index+radius;
			if(lower < 0){
				higher = higher - lower;
				lower = 0;
			}
			$.getJSON(
				"{% url 'api_verseData' %}" + lower + "/" + higher + "/",
				function(data){
					dealWithData(data, document.body);
				}
			);
		}
	</script>
</head>

<body onLoad="go()">
</body>
</html>