<!DOCTYPE html>
<html lang="en">

<head>
	<title>continuousVerse</title>
	<meta charset="utf-8">

    {% load static from staticfiles  %}
	<script src="{% static "conVerse/js/main.js" %}"></script>
	
    <link rel="stylesheet" href="{% static "conVerse/css/main.css" %}">
    <link rel="stylesheet" href="{% static "conVerse/css/verse.css" %}">

	<script>
		function go(){
			var index = (window.location.pathname.toString().split('/')[2]);

			simpleGetJSON(
				"{% url 'api_verseData' %}" + index + "/",
				function(data){
					dealWithData(data, document.body);
				}
			);
		}
	</script>
</head>

<body onLoad="go()">
</body>
</html>