<!DOCTYPE html>
<html>
<head>
    <title>delete account - metasophiea</title>
    <meta charset="utf-8"></meta>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    {% load static from staticfiles  %}
    <link rel="stylesheet" href="{% static "auth/css/main.css" %}">

</head>

<body>

    <section class='card'>
        <h1>Delete Account</h1>
        <p>Are you sure?</p>
        <form method="POST" action="/deleteAccount/">
            {% csrf_token %}
            <button class='button' type='submit' name='deleteAccountConfirmation'>Yeap, pretty sure</button>
        </form>
    </section>
    
    {% include 'messageview.html' %}

</body>
</html>