<!DOCTYPE html>
<html lang="en">

<head>
    <title>set password - metasophiea</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    {% load static from staticfiles  %}
    <link rel="stylesheet" href="{% static "auth/css/main.css" %}">

</head>

<body>

    <section class='card'>
        <h1>Set Password</h1>

        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            {% csrf_token %}
            
            <div>
                <input type="password" name="password1" id="id_password1" placeholder="password" required />
            </div>
            <div>
                <input type="password" name="password2" id="id_password2" placeholder="password (again)" required />
            </div>

            <input type="submit" name="action" value="Set Password"/>
        </form>

    </section> 

    {% include 'messageview.html' %}

</body>
</html>