<!DOCTYPE html>
<html lang="en">

<head>
    <title>change password - metasophiea</title>
	<meta charset="utf-8">

	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    {% load static from staticfiles  %}
    <link rel="stylesheet" href="{% static "auth/css/main.css" %}">

</head>

<body>

    <section class='card'>
        <h1>Change Password</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            <div>
                <input type="password" name="oldpassword" required id="id_oldpassword" placeholder="old password" />
            </div>
            <div>
                <input type="password" name="password1" required id="id_password1" placeholder="new Password" />
            </div>
            <div>
                <input type="password" name="password2" required id="id_password2" placeholder="new Password (again)" />
            </div>
            <button type="submit" name="action">change</button>
        </form>

    </section> 

    {% include 'messageview.html' %}

</body>
</html>